:root {
	--foxhome-background-color: rgb(34, 34, 34);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
}
main {
	margin: auto;
	padding: 30px 32px 20px 32px;
	min-height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
input[type="text"] {
	padding: 14px !important;
}
button, .button {
	padding: 10px !important;
}
/*.bm-container a {
	background: #222;
	border-radius: 3px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: 10px;
	color: var(--mst-color) !important;
	text-decoration: none !important;
	text-align: center;
	text-overflow: ellipsis;
	flex-direction: column;
	overflow: hidden;
}
.bm-container a:hover {
	background: #333;
}
.bm-container a:active {
	background: #444;
}
.bm-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}*/
#randomMessage {
	opacity: 0;
	transition: opacity 0.5s ease;
	cursor: pointer;
}
#randomMessage:active {
	scale: 0.9;
	transition: .2s;
}
.search {
	width: 50%;
}
.mobile-span {
	display: none;
}
@media (max-width: 800px) {
	.search {
		width: 100% !important;
	}
	#back {
		float: none !important;
	}
	.mobile-span {
		display: inline !important;
	}
}
#back {
	float: right;
}
footer {
	border-radius: 0 !important;
	padding: 12px !important;
	bottom: 0;
	position: sticky;
	background: 0 0 !important;
	color: var(--mst-muted);
}
footer p a, footer p a:hover {
	color: inherit !important;
	font-weight: inherit;
}