/* fonts */

/* lexend-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 400;
	src: url('/static/fonts/lexend-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 500;
	src: url('/static/fonts/lexend-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 600;
	src: url('/static/fonts/lexend-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 700;
	src: url('/static/fonts/lexend-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/static/fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('/static/fonts/inter-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* inter-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('/static/fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('/static/fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* vars */

:root {
	--mst-bg: #000b25;
	--mst-prm-cont: #172138;
	--mst-sec-cont: #1e2b48;
	--mst-color: #fff;
	--mst-accent: #0091ff;
	--mst-a-decor: #0091ff30;
	--mst-header-hover: #0091ff15;
	--mst-header-active: #0091ff30;
	--mst-input: #1e2b48;
	--mst-input-border: #42609f;
	--mst-muted: #444;
	--mst-warning: #3e250b;
	--mst-warning-color: #ffa333;
	--mst-info: #233160;
	--mst-info-color: #9fdaff;
}
:root.light {
	--mst-bg: #f8f8f8;
	--mst-prm-cont: #fff;
	--mst-sec-cont: #edf7ff;
	--mst-color: #454547;
	--mst-accent: #2a7ae2;
	--mst-a-decor: #2a7ae230;
	--mst-header-hover: #2a7ae215;
	--mst-header-active: #2a7ae230;
	--mst-input: #f2f7fd;
	--mst-input-border: #b3d7ff;
	--mst-muted: #9b9b9b;
	--mst-warning: #ffe1c3;
	--mst-warning-color: #713500;
	--mst-info: #dcebfc;
	--mst-info-color: #164786;
}
/* base styling */
::selection {
	background: rgba(56, 139, 253, .3);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	scrollbar-color: var(--mst-accent) var(--mst-sec-cont);
}
body {
	background: var(--mst-bg);
}
body, button, .button, textarea, input,
input[type="submit"] {
	font-family: 'Inter', sans-serif;
}
body, dialog, textarea,
style[contenteditable], input {
	color: var(--mst-color);
}
p, a, button, li, textarea,
style[contenteditable], summary, offtop,
input[type="text"], label, input[type="submit"],
.h-cont h6 + a, input[type="radio"]:checked::before,
marquee {
	font-size: 14px;
}
/* buttons */
button, .button, input[type="submit"] {
	border: none;
	background: transparent;
	user-select: none;
}
button, .button, input[type="checkbox"],
input[type="radio"], label, summary,
input[type="submit"] {
	cursor: pointer;
}
button:hover, .button:hover, input[type="submit"]:hover {
	background: var(--mst-header-hover);
}
button:active, .button:active, input[type="submit"]:active {
	background: var(--mst-header-active) !important;
}
/* summary, dialog, and details */
summary, label, .asset-desc * {
	max-width: fit-content;
}
details[open] summary, summary:hover {
	text-shadow: 0 0 30px var(--mst-accent);
}
dialog {
	background: var(--mst-prm-cont);
	max-width: 60%;
	border: none;
	padding: 20px;
	min-width: 600px;
}
:root.light dialog {
	border: none;
}
dialog::backdrop {
    opacity: 0.65;
    background: #26375e;
}
/* no decoration for buttons and footer links */
.button, .header a, footer a, footer a:hover {
	text-decoration: none;
	color: var(--mst-color) !important;
}
.warning {
	background: var(--mst-warning);
	color: var(--mst-warning-color);
}
.warning::before {
	content: '⚠️ ';
}
.info {
	background: var(--mst-info);
	color: var(--mst-info-color);
}
.info::before {
	content: 'ℹ️ ';
}
.warning, .info, textarea, style[contenteditable],
input[type="text"], .header {
	padding: 10px;
}
/* inputs */
textarea, style[contenteditable], input[type="text"] {
	border: 1px solid transparent;
	margin: 5px 0;
	width: 100%;
	resize: vertical;
	display: block;
}
textarea:focus, style[contenteditable]:focus-visible, input[type="text"]:focus {
	outline: none;
}
/* headers */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lexend', sans-serif;
	font-size: revert;
	font-weight: 500;
}
/* links and stuff */
a, a:visited {
	text-decoration: underline;
	text-decoration-color: var(--mst-a-decor);
	text-underline-offset: 3px;
}
a, a:visited, button, .button, input[type="submit"],
summary:hover, details[open] summary {
	color: var(--mst-accent);
}
a, a:hover, .h-cont a, .h-cont a:hover, button:hover, button,
.button, .button:hover, .header img, .header img:hover,
input[type="submit"]:hover, input[type="submit"], img, img:hover,
.asset, .asset:hover, summary, summary:hover, details[open] summary,
.asset-preview, .asset-preview:hover {
	transition: .2s;
}
a:hover {
	text-decoration-color: var(--mst-accent);
	text-shadow: 0px 0px 30px var(--mst-accent);
}
/* offtop */
offtop {
	opacity: 0.5;
}
/* header containers */
.h-cont a {
	font-size: 24px;
	margin-left: 5px;
	visibility: hidden;
}
.h-cont a::before {
	content: '#';
}
.h-cont:hover a {
	visibility: visible;
}
.h-cont h1 + a {
	font-size: 24px;
}
.h-cont h2 + a {
	font-size: 22px;
}
.h-cont h3 + a {
	font-size: 20px;
}
.h-cont h4 + a {
	font-size: 18px;
}
.h-cont h5 + a {
	font-size: 16px;
}
.li-ml-25 li {
	margin-left: 25px;
}
.lg-container, .header, footer, .sm-container,
.h-cont, label, .icon-links li, .asset-preview,
.header.main-content, .asset {
	align-items: center;
}
/* regular containers */
.lg-container, .header, footer {
	width: 70%;
}
.lg-container, footer {
	background: var(--mst-prm-cont);
}
.lg-container, .header, .h-cont, .icon-links li,
.asset, .asset-desc, .asset-preview,
.header.main-content, .sm-container,
.header a[data-logo], label {
	display: flex;
}
.lg-container, .header a, .header, footer,
.header img, .asset img, button, .button,
input[type="submit"], dialog, input[type="checkbox"],
textarea, style[contenteditable], input[type="text"],
.sm-container, .warning, .info {
	border-radius: 4px;
}
.lg-container, footer {
	padding: 20px;
}
.sm-container {
	background: var(--mst-sec-cont);
}
.sm-container, .h-cont, .warning, .info {
	width: fit-content;
}
.content {
	width: 100%;
}
.reduced-motion {
	display: none;
}
.header {
	position: sticky;
	top: 0px;
	box-shadow: 0px 5px 20px 1px var(--mst-bg);
	z-index: 1;
	justify-content: space-between;
	background: var(--mst-prm-cont);
}
.header img {
	margin-right: 5px;
}
.header img:hover, body#home #home-link {
	box-shadow: 0 0 20px var(--mst-a-decor);
}
.header a, button, .button,
input[type="submit"] {
	padding: 7px;
	font-weight: 500;
}
/*.header a, .header a:hover, .header a:active {
	transition: .1s;
}*/
/* we don't want the header logo link to be visible */
.header a[data-logo] {
	padding: 0;
	margin: 0;
}
.header a[data-logo]:hover, .header a[data-logo]:active {
	background: transparent;
}
/* active links and more button styles */
body#feedback a#feedback-link,
body#assets a#assets-link, .header a:hover,
.button:hover, button:hover, input[type="submit"]:hover {
	background: var(--mst-header-hover);
	/*box-shadow: 0px 0px 30px 2px var(--mst-header-hover);*/
	text-shadow: 0px 0px 30px var(--mst-accent);
	color: var(--mst-accent) !important;
}
.header a:active {
	background: var(--mst-header-active);
}

/* is this actually used anywhere? i forgor */
.no-decor {
	text-decoration: none !important;
}
.tcenter {
	text-align: center;
}
/* for a script on /experiments.html */
.sans-serif {
	font-family: sans-serif;
}
/* footer links styling */
footer a, footer a:hover {
	color: var(--mst-color) !important;
}
footer a {
	font-weight: bold;
}
footer a:hover {
	opacity: 0.8;
}
/* more inputs (should probably re-organize this) */
label {
	user-select: none;
	margin: 3px 0;
}
label code {
	margin-left: 3px;
}
/* checkboxes and radios */
input[type="radio"] {
	border-radius: 100%;
}
input[type="checkbox"], input[type="radio"] {
	width: 20px;
	height: 20px;
	appearance: none;
	border: 1px solid transparent;
	margin-right: 5px;
	display: inline-flex;
	font-family: "remixicon";
}
input[type="checkbox"], textarea, style[contenteditable],
input[type="text"], input[type="radio"] {
	background: var(--mst-input);
}
input[type="checkbox"]:before, input[type="radio"]:before {
	content: '';
	margin: auto;
}
input[type="checkbox"]:hover, input[type="radio"]:hover,
textarea:focus, style[contenteditable]:focus-visible, input[type="text"]:focus {
	border-color: var(--mst-input-border) !important;
}
input[type="checkbox"]:active, input[type="radio"]:active {
	filter: brightness(1.5);
}
:root.light input[type="checkbox"]:active,
:root.light input[type="radio"]:active {
	filter: brightness(0.9);
}
input[type="checkbox"]:checked::before {
	content: '\eb7b';
	font-size: 16px;
}
input[type="radio"]:checked::before {
	content: '\f3c1';
}
/* what is this input doing alone from other regular inputs */
input {
	accent-color: var(--mst-input);
	background: var(--mst-input-border);
}
/* for theming */
:root.light .light-invert,
:root.dark .dark-invert {
	filter: invert();
}
:root.light .dark-only {
	display: none;
}
:root .light-only {
	display: none;
}
:root.light .light-only {
	display: inline-block;
}
.icon-links li img {
	margin-right: 3px;
}
/* i think this one is only used in /assets.html */
.centered, dialog {
	margin: auto;
}
/* i don't think i actually use .none */
.none, .mobile {
	display: none !important;
}
/* for /assets.html */
.asset-desc, .asset-preview {
	flex-direction: column;
}
.asset-desc p span {
	user-select: none;
}
.asset-preview:hover {
	scale: 1.1;
}
.asset-preview:active {
	scale: 0.98;
}
.asset {
	justify-content: space-between;
	margin: 10px auto;
}
.radius-0 {
	border-radius: 0 !important;
}

/* media queries */

@media screen and (max-width: 800px) {
	.lg-container, .header, footer {
		width: 95% !important;
	}
	.header {
		backdrop-filter: none !important;
		background: var(--mst-prm-cont);
	}
	dialog {
		max-width: 95% !important;
		min-width: 95% !important;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block !important;
	}
	.asset/*, #warning*/ {
		flex-direction: column;
	}
	/*#warning > div:nth-child(2) {
		margin-top: 10px;
	}*/
	.asset-preview, .asset {
		align-items: normal;
	}
	.asset-preview {
		max-width: fit-content;
	}
	.asset-desc details, .asset-desc details li {
		max-width: 100% !important;
	}
	.h-cont a, .h-cont:hover a {
		visibility: visible;
		transition: .2s;
		text-decoration-thickness: 1px;
	}
	input[type="checkbox"]:checked::before {
		font-size: 18px !important;
	}
	input[type="checkbox"], input[type="radio"] {
		width: 24px !important;
		height: 24px !important;
	}
}

@media (prefers-reduced-motion: reduce) {
	a, a:hover, .h-cont a, .h-cont a:hover, button:hover, button,
	.button, .button:hover, .header img, .header img:hover,
	input[type="submit"]:hover, input[type="submit"], img, img:hover,
	.asset, .asset:hover, summary, summary:hover, details[open] summary,
	.asset-preview, .asset-preview:hover, .sidebar, #main {
		transition: 0s !important;
	}
	.reduced-motion {
		display: block;
	}
	.asset-preview:hover, .asset-preview:active {
		scale: 1 !important;
	}
	html {
		scroll-behavior: auto !important;
	}
	/* snowflakes generated by snow.js script */
	.snowflake {
		display: none !important;
	}
}