/*
* Remix Icon v3.5.0
* https://remixicon.com
* https://github.com/Remix-Design/RemixIcon
*
* Copyright RemixIcon.com
* Released under the Apache License Version 2.0
*
* Date: 2023-07-30
*/
@font-face {
  font-family: "remixicon";
  src: 
  url("remixicon.woff2?t=1690730386070") format("woff2"),
  url('remixicon.ttf?t=1690730386070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('remixicon.svg?t=1690730386070#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-6x { font-size: 6em; }
.ri-7x { font-size: 7em; }
.ri-8x { font-size: 8em; }
.ri-9x { font-size: 9em; }
.ri-10x { font-size: 10em; }
.ri-fw { text-align: center; width: 1.25em; }

.ri-palette-line:before { content: "\efc5"; }
.ri-arrow-right-up-line:before { content: "\ea70"; }
.ri-arrow-right-line:before { content: "\ea6c"; }
.ri-arrow-left-line:before { content: "\ea60"; }
.ri-close-line:before { content: "\eb99"; }
.ri-check-line:before { content: "\eb7b"; }
.ri-save-2-line:before { content: "\f0af"; }
.ri-eraser-line:before { content: "\ec9f"; }
.ri-delete-bin-line:before { content: "\ec2a"; }
.ri-add-line:before { content: "\ea13"; }
.ri-circle-fill:before { content: "\f3c1"; }
.ri-arrow-up-line:before { content: "\ea76"; }